<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>751846261054-istm3u30c0p35nptqpiudv90fn7ml521.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.751846261054-istm3u30c0p35nptqpiudv90fn7ml521</string>
	<key>API_KEY</key>
	<string>AIzaSyAcfxXvhaAxn4GyGgqsn4DEbVaYwVtUGrA</string>
	<key>GCM_SENDER_ID</key>
	<string>751846261054</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.max.dutchGame</string>
	<key>PROJECT_ID</key>
	<string>dutch-game-1dd01</string>
	<key>STORAGE_BUCKET</key>
	<string>dutch-game-1dd01.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:751846261054:ios:55bf37868bd96d55056c6f</string>
</dict>
</plist>